@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,500,700);

#header {
  position: absolute;
  z-index: -1;
  width: 1200px;
  height: auto;
  left: 50%;
  margin-left: -600px;
}

@media (max-width: 560px) { 
  #header { width: 900px; margin-left: -455px;}
}

html { font: 18px/1.6 'Open Sans', sans-serif; }
body { margin: 2rem 0 0; color: #222; }

h1, h2, h3, h4, h5, h6 {
  margin: 2.5rem 0 1.5rem -0.1rem;
  color: #111;
  text-rendering: optimizeLegibility;
  font-family: 'Open Sans', serif;
  line-height: 1.2
}

h1 {
  font-size: 4rem;
  font-weight: 700;
  padding-top: 350px;
  margin-left: -2rem;
  margin-right: -2rem;
}

h2 {
  margin-left: -2rem;
  margin-right: -2rem;
  font-size: 2rem;
}

@media (max-width: 560px) { 
  html { font: 16px/1.6 'Open Sans', sans-serif; }
  h1 { font-size: 3.5rem; padding-top: 270px;}
  h2 { font-size: 1.75rem; }
}

@media (max-width: 440px) { 
  h1 { font-size: 3rem; }
}

@media (max-width: 380px) { 
  h1 { font-size: 2.5rem; }
}

@media (max-width: 310px) { 
  h1 { font-size: 2rem; }
}

@media (max-width: 750px) {
h1, h2, h3, h4, h5, h6 {
  margin-left: 0 !important;
  margin-right: 0 !important;
 }
}

h4, h5, h6 {
  margin: 1.5rem -1rem 1.5rem -1rem;
  font-size: 1.5rem;
}

h6 {
  text-align: center;
  font-size: 0.75rem;
  color: #555;
}

p, ul, ol, dl, table, pre, blockquote {
  margin-top: 0;
  margin-bottom: 1.5rem;
}

ul, ol {
  padding-left: 1.5rem;
}

dd {
  margin-left: 1.5rem;
}

blockquote {
  margin-left: 1rem;
  margin-right: 0;
  padding: 0rem 0.8rem;
  border-right: .3rem solid #ccc;
  color: #555;
  text-align: right;
  font-style: italic;
}

blockquote p:last-child {
  margin-bottom: 0;
}

.footnote {
  color: #444;
}

.center {
  display:inline-block;
  margin: 0 auto;
}

hr {
  border: none;
  margin: 1.5rem 0;
  border-bottom: 1px solid #ccc;
  position: relative;
  top: -1px;
}

.img, .container iframe {
  max-width: 100%;
}

.container img {
  margin: 2em auto 2em auto;
  display: block;
  max-width: 75%;
}

@media (max-width: 560px) {
  .container img { max-width: 100% }
}

table {
  width: 100%;
  border: 1px solid #ccc;
  border-collapse: collapse;
}

td, th {
  padding: .25rem .5rem;
  border: 1px solid #ccc;
}

pre, code {
  font-family: monospace;
  background-color: #eee;
}

pre {
  padding: .5rem 1rem;
  font-size: 0.8rem;
}

code {
  padding: .1rem .25rem;
}

pre > code {
  padding: 0;
}

.container {
  max-width: 625px;
  margin: 0 auto;
  padding: 0 0.75rem;
}

.date {
  text-align: right;
  font-size: 75%;
  font-style: italic;
}

.button {
  display: inline-block;
  border: 2px solid #173a64;
  padding: 0.25em 0.5em;
  font-size: 20px;
  color: white;
  background-color: #173a64;
  text-align: center;
  width: 90%;
  transition: all 0.3s ease 0s;
  text-decoration: none;
  margin-bottom: 1.5rem;
}

.button:hover {
	color: #173a64;
	background-color: transparent;
	cursor: pointer;
	text-decoration: none;
}

a {
  color: #173a64;
}

/** ANIMATION **/
@-webkit-keyframes xfade{
  17% {
    opacity:1;
  }
  25% {
    opacity:0;
  }
  92% {
    opacity:0;
  }
}
@-moz-keyframes xfade{
  17% {
    opacity:1;
  }
  25% {
    opacity:0;
  }
  92% {
    opacity:0;
  }
}
@keyframes xfade{
  17% {
    opacity:1;
  }
  25% {
    opacity:0;
  }
  92% {
    opacity:0;
  }
}

ul.kf-slider, ul.kf-slider li
{
list-style-type: none;
margin:0;
padding:0;
position: relative;
}

ul.kf-slider li{ 
  height: 140px;
  width: 250px;
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position:  50%;
  z-index: 0;
  opacity: 0;
  /*-- Add animation --*/ 
    -webkit-animation: xfade 16s 12s infinite;
    -moz-animation: xfade 16s 12s infinite;
    animation: xfade 16s 12s infinite;
  background-image: url(../images/card1.jpg);
}

@media (min-width: 440px) { 
  ul.kf-slider li{ 
    height: 200px;
    width: 350px;
  }
}

@media (min-width: 680px) { 
  ul.kf-slider li{ 
    height: 300px;
    width: 625px;
  }
}

ul.kf-slider li:nth-child(2){
  background-image: url(../images/card2.jpg);
    -webkit-animation: xfade 16s 8s infinite;
    -moz-animation: xfade 16s 8s infinite;
    animation: xfade 16s 8s infinite;
}

ul.kf-slider li:nth-child(3){
  background-image: url(../images/card3.jpg);
    -webkit-animation: xfade 16s 4s infinite;
    -moz-animation: xfade 16s 4s infinite;
    animation: xfade 16s 4s infinite;
}

ul.kf-slider li:nth-child(4){
  background-image: url(../images/card4.jpg);
    -webkit-animation: xfade 16s 0s infinite;
    -moz-animation: xfade 16s 0s infinite;
    animation: xfade 16s 0s infinite;
}